body {
  font-size: 20px;
  font-style: normal;
  font-family: 'Esteban';'Source Sans Pro'; Helvetica; Arial; sans-serif;
  color: black;
  background-color: #7CDAE2;

}

img {
  height: 700px;
  margin: 0;
  padding: 0;
}

.container{
  width:80%;
  max-width: 1200px;
  margin: 0 auto;
}




.center-home{
  text-align: center;
}
.center-home a{
  font-size: 23px;
  color: #292B27;
  text-decoration: none;
  font-family: 'Source Sans Pro'; Helvectica; Arial; sans-serif;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 20px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  padding: 5px;
  text-transform: uppercase;
}
.center-home a:active,
.center-home a:hover{
  color: #328E99;
  background-color: white;
}





header {
  padding: 0;
  margin: 0;
  text-align: center;
}
header h1{
  font-size: 90px;
  color: #FFFAF9;
  font-family: 'Montserrat'; Helvetica; Arial; sans-serif;
  border-bottom: 5px solid white;
  padding-bottom: 10px;
  max-width: 800px;
  margin: auto;
  margin-top: 40px;
}
header p{
  font-size: 30px;
  color: #292B27;
  font-family: 'Source Sans Pro'; Helvectica; Arial; sans-serif;
}






.link a{
  text-transform: uppercase;
  text-decoration: none;
  color:#FFFAF9;
  font-size: 23px;
}
.link a:active,
.link a:hover{
  border-bottom: 2px solid white;
}
